{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="text-center">
    <img src="{{ url_for('static', path='icon/adoPet.png') }}" class="img-fluid rounded" alt="AdoPet Banner">
    <h1 class="mt-4">¡Adopta, no compres!</h1>
    <p class="lead">En AdoPet creemos que cada mascota merece un hogar lleno de amor. Encuentra tu nuevo mejor amigo
        aquí.</p>
    <h2 class="mt-3">Ley Ángel (Ley2455 de 2025)</h2>
    <p class="lead">La Ley Ángel, aprobada en abril de 2025, refuerza los principios de protección animal en Colombia
        mediante penas más estrictas por maltrato, mecanismos rápidos de intervención policial, programas educativos
        obligatorios y la creación de rutas institucionales para la denuncia y atención de casos. También promueve
        estudios forenses veterinarios y prohíbe que personas condenadas vuelvan a tener animales, fortaleciendo de
        manera integral la protección de mascotas y fauna.</p>
</div>alinas
{% endblock %}